{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
    "@typescript-eslint",
    "json"
  ],
  "rules": {
    "json/*": ["error", {"allowComments": true}]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "assert": true
  }
}